{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
Clzh的博客
{% endblock %}

{% block header_extends %}
<link rel="icon" href="https://static.jianshukeji.com/hcode/images/favicon.ico">
<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{# 页面内容 #}
{% block content %}
<H1 class="text-center mt-5">欢迎</H1>

<div id="container" class="mt-5 mx-auto" style="width: 600px;height: 400px;"></div>
<h3>今日热门博客点击</h3>
<ul>
    {% for hot_data in today_hot_data %}
    <li><a href="">
            {{ hot_data.title }}
        </a>
        ({{ hot_data.read_num_sum }})
    </li>
    {% empty %}
    <li>暂无</li>
    {% endfor %}
</ul><h3>昨日热门博客点击</h3>
<ul>
    {% for hot_data in yesterday_hot_data %}
    <li><a href="">
            {{ hot_data.title }}
        </a>
        ({{ hot_data.read_num_sum }})
    </li>
    {% empty %}
    <li>暂无</li>
    {% endfor %}
</ul><h3>七日热门博客点击</h3>
<ul>
    {% for hot_data in hot_data_for_7_days %}
    <li><a href="{% url 'blog:detail' hot_data.id %}">
            {{ hot_data.title }}
        </a>
        ({{ hot_data.read_num_sum }})
    </li>
    {% empty %}
    <li>暂无</li>
    {% endfor %}
</ul>
<script>
    Highcharts.chart('container', {
        title: { text: null },
        xAxis: {
            categories: {{ dates| safe }},
        title: { text: '前7日阅读量变化' },
        },
        yAxis: {
        title: { text: null },
        labels: { enabled: false },
        gridLineDashStyle: 'Dash',
    },
        series: [{
            name: '阅读数',
            data: {{ read_nums }}
        }],
        plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            }
        }
    },
        legend: { enabled: false },
        credits: { enabled: false },
    }
    );
</script>
{% endblock %}